header {
    background-image: url(../imagem/closeup-cute-young-caucasian-brunette-woman-smiles-with-her-teeth-closing-eyes-purple-background-lifestyle-different-emotions-leisure-concept.jpg)  ;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 16px;
    padding-top: 16px;
    color: white;

}

.cabecalho h1 {
    font-size: 24px;
    font-weight: 500;

}

.cabecalho h4 {
    font-size: 18px;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.cabecalho a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;

}