header {
    
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 16px;
    padding-top: 16px;
    color: white;

}

.cabecalho h1 {
    font-size: 24px;
    font-weight: 500;

}

.cabecalho h3 {
    font-size: 21px;
    font-weight: 400;
}

.lista {
    display: flex;
    padding-left: 12px;

}

.lista-secundaria {
    display: flex;
    padding-left: 12px;
    padding-top: 8px;

}

.cabecalho a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;

}