header {
    width: 80%;
    padding: 40px 2px;
    background:#8FBC8B;
    margin: 90px 96px;
    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 16px;
    padding-top: 16px;
    color: white;

}

.cabecalho h1 {
    font-size: 24px;
    font-weight: 500;

}

.cabecalho h3 {
    font-size: 21px;
    font-weight: 400;
}

li {
    
}

.lista {
    display: flex;
    padding-left: 12px;

}

.lista-secundaria {
    display: flex;
    padding-left: 12px;
    padding-top: 8px;

}

.cabecalho a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;

}